.wrapper {
  display: inline-block;
  width: 288px;
}

.Button {
  height: 50px;
  color: #ffffff;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  background: #e26630;
  font-size: 16px;
  box-shadow: -2px -2px 6px 0 #cecdcd;
  transition: transform 200ms;
}

.Button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 0 0 6px 0 #cecdcd;
}

@media (min-width: 1200px) {
  .wrapper {
    width: 211px;
  }
}
