.wrapper {
  text-align: left;
  padding: 16px;
  white-space: nowrap;
}

.title {
  font-family: Leckerli One;
  /* font-size: 33px; */
  color: #e26630;
  font-size: 28px;
}

.item {
  display: inline-block;
  margin-left: 10px;
  /* font-size: 18px; */
  font-size: 16px;
  color: #f2994a;
  vertical-align: top;
}

.icon {
  text-align: left;
  display: inline-block;
}

.icon,
.item,
.title,
.wrapper {
  transition: all 500ms;
}

@media (min-width: 1200px) {
  .wrapper {
    padding: 0;
  }

  .item {
    font-size: 21px;
  }

  .icon svg {
    height: 35px;
    width: 35px;
  }

  .title {
    font-size: 35px;
  }
}
