.wrapper {
  display: block;
  margin: 0 0 20px;
}

.mapa {
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.address h3 {
  font-size: 18px;
  color: #767676;
  text-align: center;
}

.title {
  font-size: 28px;
  color: #e26630;
  font-family: Leckerli One;
  text-align: center;
  margin: 40px 0 0;
}

.mapBox {
  margin: 10px;
  height: 237px;
}

.wrapper,
.mapa,
.address,
.title,
.mapBox {
  transition: all 900ms;
}

@media (min-width: 1200px) {
  .title {
    font-size: 35px;
    text-align: left;
    margin: 10px 0 0;
  }
  .mapBox {
    margin: 30px 0;
    height: 273px;
  }
  .address h3 {
    text-align: left;
  }
}

@media (min-width: 730px) {
  .mapBox {
    margin: 15px auto;
    width: 676px;
  }
  .title {
    font-size: 33px;
  }
  .address h3 {
    font-size: 22px;
  }
}
