.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil {
  width: 172px;
  height: 172px;
  border-radius: 50%;
  border: 2px solid #f2994a;
}

.name {
  font-family: Leckerli One;
  font-size: 28px;
  color: #e26630;
}

.status {
  font-size: 20px;
  color: #333333;
  margin-bottom: 5px;
}

.text {
  padding: 10px 3%;
  text-align: justify;
  font-size: 18px;
  color: #ffffff;
  background: #f2994a;
}

.info {
  height: 50%;
}

.wrapper,
.name,
.perfil,
.status,
.text {
  transition: all 500ms;
}

@media (min-width: 887px) {
  .wrapper::after {
    display: block;
    content: "";
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    background: #f2994a;
    border-radius: 6px;
  }

  .wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 45px 3% 0;
  }

  .text {
    background: unset;
    padding: 45px 3% 10px;
    font-size: 18px;
  }

  .container {
    text-align: left;
    width: 77%;
  }

  .perfil {
    width: 180px;
    height: 180px;
    margin: 0 3%;
  }

  .name {
    font-size: 35px;
  }

  .status {
    font-size: 21px;
  }
}
