.wrapper {
  padding: 10px 0;
  position: relative;
  text-align: center;
}

.logoImg {
  display: inline-block;
  width: 66px;
  height: 66px;
  border: 2px solid #e26630;
  border-radius: 50%;
}

.title {
  font-family: Leckerli One;
  color: #e26630;
  font-size: 33px;
  margin-bottom: 0;
  line-height: 1;
  margin-top: 10px;
}

.text {
  font-family: Leckerli One;
  font-size: 12px;
  color: #333333;
}

@media (min-width: 1200px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }
  .container {
    display: flex;
    align-items: center;
  }
  .logoImg {
    margin-right: 30px;
  }
  .text {
    font-size: 16px;
  }
  .title {
    font-size: 43px;
  }
}