.wrapper {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-bottom: 1rem;
}

.iconCircle {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 83px;
  margin: 0 auto;
  border-radius: 50%;
  background: #ffffff;
  border: 3px solid #27ae60;
  box-sizing: border-box;
}

.textCircle {
  margin: 2px 0 0;
  font-size: 14px;
  color: #f2994a;
}

.wrapper,
.iconCircle,
.textCircle {
  transition: all 900ms;
}

@media (min-width: 1200px) {
  .wrapper {
    margin-top: 50px;
    width: 13%;
  }
  .iconCircle {
    width: 120px;
    height: 120px;
  }
  .textCircle {
    margin: 10px 0 0;
    font-size: 18px;
  }
  .wrapper svg {
    width: 65px;
    height: 65px;
  }
}
