.wrapper {
  margin: 0 auto;
}

.title {
  margin: 40px 0 0;
  font-size: 30px;
  font-family: Leckerli One;
  color: #e26630;
}

.body {
  width: 300px;
  margin: 0 auto;
  padding-left: 15%;
}

.column {
  margin: 15px 0 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.head {
  white-space: nowrap;
  font-size: 21px;
  font-weight: bold;
  color: #e26630;
}
.row {
  margin: 5px 0 0;
  color: #27ae60;
}

@media (min-width: 500px) {
  .body {
    padding: 0;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 33px;
    margin: 50px 0 0 ;
  }
  .head {
    font-size: 26px;
  }
  .row {
    font-size: 22px;
  }
}
