*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 1200px) {
  .App {
    width: 1200px;
    margin: 0 auto;
  }
}

.Features {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 687px) {
  .Features {
    flex-wrap: wrap;
  }
}

.Section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.List {
  display: inline-block;
  margin: 0 auto;
  transition: margin 1000ms;
}

.Footer {
  margin: 35px 0 0 0;
  display: block;
}

@media (min-width: 530px) {
  .Footer {
    margin: 45px 0 0;
    display: block;
  }
}

@media (min-width: 1200px) {
  .Footer {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .List {
    display: flex;
    margin: 40px 0 0;
    justify-content: space-between;
  }
}

@media (max-width: 1199px) and (min-width: 850px) {
  .List {
    margin: 20px 0 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
